<h1>
  Movie #<%= @the_movie.id %> details
</h1>

<a href="/movies">
  Go back
</a>

<div>
<a href="/delete_movie/<%= @the_movie.id %>">
  Delete
</a>
</div>


<hr>
<form action="/update_movies/<%= @the_movie.id %>" method="post">
  <div>
    <label for="update_title">Title</label>
    <input id="update_title" type="text" name="mupdate_title_param" value="<%= @the_movie.title %>">
  </div>
  <div>
    <label for="update_year">Year</label>
    <input id="update_year" type="text" name="mupdate_year_param" value="<%= @the_movie.year %>">
  </div>
  <div>
    <label for="update_duration">Duration</label>
    <input id="update_duration" type="text" name="mupdate_duration_param" value="<%= @the_movie.duration %>">
  </div>

  <div>
    <label for="update_description">Description</label>
    <input id="update_description" type="text" name="mupdate_description_param" value="<%= @the_movie.image %>">
  </div>

  <div>
    <label for="update_image">Image</label>
    <input id="update_image" type="text" name="mupdate_image_param" value="<%= @the_movie.image %>">
  </div>

  <div>
    <label for="update_director">Director ID</label>
    <input id="update_director" type="text" name="mupdate_director_param" value="<%= @the_movie.director_id %>">
  </div>


  <button>Update movie</button>
</form>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @the_movie.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @the_movie.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @the_movie.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @the_movie.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_movie.image %>" style="width:250px;">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <% dir_id = @the_movie.director_id %>
    
    <% matching_directors = Director.where({ :id => dir_id }) %>
    
    <% the_director = matching_directors.at(0) %>

    <%if  the_director == nil %>
      Uh oh! We weren't able to find a director for this movie.
      <% else %>
      <%= the_director.name %>
      <% end %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @the_movie.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @the_movie.updated_at %>
  </dd>
</dl>

<hr>
